html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Lato", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #d3e1f0;
}

body {
  min-width: fit-content;
  margin: 0 auto;
  background-color: #d6d0c8;
  padding: 0 40px 40px 40px;
  border: 5px solid black;
  font-size: 40px;

}


h1 {
  margin: 0;
  padding: 20px 0;
  color: #143347;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}
input {
  font-size: 45px;
  padding: 5px;
  margin: 5px;

}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  transform: scale(4);
  padding: 5px;
  margin: 5px;
}
#activeTasks .task {
  border: 0;
  background-color: #d6d0c8;
  font-size: 45px;
  margin: 10px;
}

#doneTasks .task {
  border: 0;
  text-decoration: line-through;
  background-color: #d6d0c8;
  color :#756e66;
  font-size: 45px;
  margin: 10px;
}
textarea:focus, input:focus{
  outline: none;
}



@media (min-width: 1200px) {
 

html {
    font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Lato", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #d3e1f0;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #d6d0c8;
    padding: 0 40px 40px 40px;
    border: 5px solid black;
    font-size: 30px;
  
  }
  
  
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #143347;
    text-shadow: 1px 1px 1px black;
    text-align: center;
  }

  #activeTasks .task {
    border: 0;
    background-color: #d6d0c8;
    font-size: 45px;
  
  }
  
  #doneTasks .task {
    border: 0;
    text-decoration: line-through;
    background-color: #d6d0c8;
    color :#756e66;
    font-size: 45px;
  }
  textarea:focus, input:focus{
    outline: none;
  }
}